{{# console.log(model )}}
<form class="form-model">
  <card class="flex">
    <avatar>
      <svg viewBox="0 0 220 180" style="background: {{{ model.avatar_color }}} linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 100%);">
        <text transform="matrix(1 0 0 1 110 127)" text-anchor="middle">{{{ model.initials }}}</text>
      </svg>
    </avatar>
    <div class="meta">
      <ul>
        <li><h2>{{{ model.full_name }}}</h2></li>
        <li>{{{ model.email }}}</li>
        <li>{{{ model.phone_pretty }}}</li>
      </ul>
    </div>
  </card>

  <div class="field-group">
    <legend>First Name</legend>
    <input name="first_name" class="full" type="text" value="{{{ model.first_name }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Last Name</legend>
    <input name="last_name" class="full" type="text" value="{{{ model.last_name }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Email</legend>
    <h3>{{{ model.email || '(Not Set)' }}}</h3>
  </div>

  <div class="field-group">
    <legend>Phone</legend>
    <h3>{{{ model.phone_pretty || '(Not Set)' }}}</h3>
  </div>

  <h3>Status</h3>
  <div class="status-list">
    <table>
      <tbody>
        <tr>
          <td>Account</td>
          <td><span class="status {{{ model.status.active }}}">{{{ model.status.active ? 'active' : 'inactive' }}}</span></td>
        </tr>
        <tr>
          <td>Email</td>
          <td><span class="status {{{ model.status.email }}}">{{{ model.status.email ? 'active' : 'inactive' }}}</span></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><span class="status {{{ !!model.status.phone }}}">{{{ model.status.phone ? 'active' : 'inactive' }}}</span></td>
        </tr>
        <tr>
          <td>Dwolla Account</td>
          <td><span class="status {{{ !!(model.dwolla_account && model.dwolla_account.customer_id) }}}">{{{ !!(model.dwolla_account && model.dwolla_account.customer_id) ? 'active' : 'inactive' }}}</span></td>
        </tr>
        <tr>
          <td>Bank Account</td>

          {{#
          var primary_status = model.primary_fs_status;
          var status_value = 'false';

          if (primary_status.contains('microdeposits')) {
            status_value = 'warning';
          } else if (primary_status === 'active') {
            status_value = 'success';
          }
          }}
          <td><span class="status {{{ status_value }}}">{{{ primary_status }}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

  {{# if (model.status.active === false) { }}
  <div class="field-group">
    <a href="#" class="btn action-reinvite">Resend Invitation</a>
  </div>
  {{# } }}

  <div class="field-group">
    <a href="#" class="btn action-view-auth-events">View Authentication Events</a>
  </div>
  
</form>
