<a class="action-debug-toggle" href="#"><div class="svg-wrapper"><svg viewBox="-99 115.6 100 82"><path fill="#FFFFFF" d="M-20,182.6c3.2,3.2,3.2,8.4-0.1,11.7c-3.2,3.2-8.5,3.2-11.9,0l-20.6-22.1L-72,195.7c-1.8,1.9-5.2,2.1-7,0l-4.9-5c-2.1-1.9-2.1-5.2-0.1-7.1l22.3-20.8l-10.7-10.2c-3.6-3.4-5.7-4.4-8.5-3.5c-2.8,1-6.8,1-10.6-1.4c-7.9-5-7.5-14.8-7.5-14.8l0.6-1l8.1,5.3c0,0,5,3.1,8.9-2.8c4.4-7-0.5-9.8-0.5-9.8l-8.1-5.2l0.8-1c0,0,7.5-4.8,16.3,0.3c5.4,3.2,8.1,9.5,6.7,15.7c-0.8,3.7,0,5,3,8.3l10.8,10.7l12.6-13l9.5,9.5l-12.6,12.5L-20,182.6z M-7,143c1.5-1.5,4.1-1.3,5.5,0.1l1.4,1.4c1.5,1.5,1.3,3.9-0.1,5.3l-7.7,7.7c-1.5,1.5-3.9,1.7-5.4,0.1l-1.4-1.4c-1.5-1.5-1.5-4,0-5.5c0.3-0.9-0.5-2.6-2.1-4.1c-3.2-3.2-7-3.4-8.8-1.7l-2.6,2.7l-9.4-9.7l2.7-2.6c3-3.1-0.4-6.3-0.4-6.3c-8.3-8.3-19.9-8-19.9-8l-0.1-3.1c23.6-6.2,32.5,4.1,35.7,7.2l6.8,6.8c1.7,1.8-0.1,6.7,2.3,9.3C-9.3,142.5-8.1,142.9-7,143z M-26,192.8c2.5,0,4.4-1.9,4.4-4.4s-1.9-4.4-4.4-4.4s-4.4,1.9-4.4,4.4S-28.4,192.8-26,192.8z"/></svg></div></a>
<div class="tooltip"><span>Toggle the debug menu</span></div>
<div class="panel">
  <ul>
    <li><h3>DEBUG</h3></li>
    <li>
      <legend>APP INFO</legend>
      <div>
        <span class="key">Version: </span><span class="value app-version"></span>
      </div>
      <div>
        <span class="key">Backbone: </span><span class="value backbone-version"></span>
      </div>
      <div>
        <span class="key">Root: </span><span class="value app-root"></span>
      </div>
      <div>
        <span class="key">API: </span><span class="value api-root"></span><span class="status-icon icon white"></span>
      </div>
      <div>
        <a href="#" class="btn sm btn-secondary action-switch-api">Switch API root</a>
      </div>
      <div>
      {{# var isChecked = activation ? ' checked' : '' }}
      {{# console.log(isChecked) }}
        <input type="checkbox" id="toggle-activation"{{{ isChecked }}}><label for="toggle-activation">Bypass Activation</label>

      </div>
    </li>
    <li>
      <legend>SESSION INFO</legend>
      <div>
        <span class="key">Role: </span><span class="value user-role"></span>
      </div>
      <div>
        <span class="key">Name: </span><span class="value user-name"></span>
      </div>
      <div>
        <span class="key">Email: </span><span class="value user-email"></span>
      </div>
      <div>
        <span class="key">Phone: </span><span class="value user-phone"></span>
      </div>
      <div>
        <span class="key">Dwolla: </span><span class="value user-dwolla"></span>
      </div>
      <div>
        <span class="key">Company: </span><span class="value user-company"></span>
      </div>

      <div class="hidden atoken"></div>
      <!--<div>
        <span class="key">Company ID: </span><span class="value user-company-id"></span>
      </div>-->
    </li>
    <li>
      <legend>TESTS</legend>
      <div>
        <a href="#" class="btn sm btn-secondary action-unit-tests">Run Unit Tests</a>
      </div>
      <div>
        <a href="#" class="btn sm btn-secondary action-skip-iav">Skip IAV</a>
      </div>
    </li>
    <li>
      <legend>CONSOLE TOOLS</legend>
      <div>
        <a href="#" class="action-console-app">console.log(app)</a>
      </div>
      <div>
        <a href="#" class="action-console-session">console.log(app.session)</a>
      </div>
      <div>
        <a href="#" class="action-console-user">console.log(app.session.user)</a>
      </div>
      <div>
        <a href="#" class="action-console-stash">console.log(app.utils.stash)</a>
      </div>
      <div>
        <a href="#" class="action-require-modules">console.log(require.modules)</a>
      </div>
      <div>
        <a href="#" class="action-view-stash">console.log(app.utils.stash)</a>
      </div>
      <div>
        <a href="#" class="action-clear-stash">app.utils.stash.clear()</a>
      </div>
      <div>
        <a href="#" class="action-global-app">get app global</a>
      </div>
    </li>
    <li>
      <legend>Errors</legend>

      <div class="field-group">
        <a href="#" class="btn sm btn-primary action-error">Throw TypeError</a>
      </div>
    </li>
    <li>
      <legend>Alerts</legend>

      <div class="field-group">
        <a href="#" class="btn sm btn-secondary action-alert">Error Alert</a>
      </div>

      <div class="field-group">
        <a href="#" class="btn sm btn-secondary action-success">Success Alert</a>
      </div>

      <div class="field-group">
        <a href="#" class="btn sm btn-secondary action-warn">Warn Alert</a>
      </div>
    </li>

    <li>
      <legend>Websockets</legend>

      <div class="field-group">
        <a href="#" class="btn sm btn-primary action-sockets-test">Test Sockets</a>
      </div>
    </li>

    <a href="/activate?eyJhbGciOiJIUzI1NiIsImV4cCI6MTQ3ODA5NTM3OCwiaWF0IjoxNDc4MDA4OTc4fQ.eyJ0eXBlIjoiZW1haWwiLCJ1c2VyIjoiNTgxMjYyNmRlNGUwNTU2NWM2MDY0YjVmIn0.Tx8b5VihVOzMXdQLjyTKXUpt1UbuUBblElKsnXKfczc">Onboarding link</a>

  </ul>
  <a class="action-debug-toggle" href="#"><div class="svg-wrapper"><svg viewBox="0 0 18.7 18.7"><polygon fill="#ffffff" points="18.7 2.56 16.14 0 9.35 6.79 2.56 0 0 2.56 6.79 9.35 0 16.14 2.56 18.7 9.35 11.91 16.14 18.7 18.7 16.14 11.91 9.35 18.7 2.56" /></svg></div></a>
  <div class="tooltip"><span>Toggle the debug menu</span></div>

  <link rel="stylesheet" href="/css/vendor/jasmine.css">
</div>