<form class="form-model">
  <div class="field-group">
    <legend>Start Date</legend>
    <input name="start_date" id="start_date" type="text">
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Type</legend>
      <input type="radio" name="type" id="type--fixed" value="fee" checked><label for="type--fixed">Fixed Term</label>
      <input type="radio" name="type" id="type--monthly" value="credit"><label for="type--monthly">Month to Month</label>
  </div>

  <div class="field-group">
    <legend>End Date</legend>
    <input name="end_date" id="end_date" type="text" />
    <span class="help-text"></span>
  </div>
</form>