<form class="form-model">
  <legend>Fees Already Collected</legend>

  <div class="field-group fee first-month">
    <input class="toggle" type="checkbox" id="first">
    <label for="first">First Month</label>
    <span class="money">
      <input class="first_month" type="text" placeholder="0.00" class="medium mobile-number" disabled>
    </span> 
    <span class="help-text"></span>
  </div>

  <div class="field-group fee last-month">
    <input class="toggle" type="checkbox" id="last">
    <label for="last">Last Month</label>
    <span class="money">
      <input class="last_month" type="text" placeholder="0.00" class="medium mobile-number" disabled>
    </span> 
    <span class="help-text"></span>
  </div>

  <div class="field-group fee security">
    <input class="toggle" type="checkbox" id="security">
    <label for="security">Security</label>
    <span class="money">
      <input class="security" type="text" placeholder="0.00" class="medium mobile-number" disabled>
    </span> 
    <span class="help-text"></span>
  </div>
</form>