<form class="form-model">
  <div class="field-group">
    <legend>Number/Name</legend>
    <input type="text" name="number" autocomplete="off">
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Beds</legend>
    <input type="text" name="beds" autocomplete="off">
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Baths</legend>
    <input type="text" name="baths" autocomplete="off">
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Sq Ft</legend>
    <input type="text" name="sq_ft" autocomplete="off">
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Rent</legend>
    <div class="money">
      <input name="rent" class="rent" type="text" placeholder="0.00" class="medium" autocomplete="off">
    </div> 
    <span class="help-text"></span>
  </div>
</form>