{{#
var phone = (user.authentication && user.authentication.phone) || user.phone_pretty;
var email = (user.authentication && user.authentication.email) || user.email;

// var phone = user.phone_pretty;
// var email = user.email;

var phone_verified = user.status.phone;
var email_verified = user.status.email;

var email_btn = email ? 'Change' : 'Add';
var phone_btn = phone ? 'Change' : 'Add';
}}

<form class="form-model">
  <h2>Contact Settings</h2>
  <div class="tasks">
    <div class="field-group task">
      <legend>Email</legend>
      <h3>
        {{{  user.email || '(Not Set)' }}}
        
        {{# if (email_verified) { }}
        <span class="status status-success">verified</span>
        {{# } else if (email) { }}
        <span class="status status-none email">not verified</span>
        {{# } }}
      </h3>
      {{# if (!email_verified && email) { }}<a href="#" class="btn btn-secondary action-verify-email">Verify</a>{{# } }}
      <a href="#" class="btn action-change-email">{{{ email_btn }}}</a>
      {{# if (email) { }}
      <!-- <a href="#" class="btn btn-secondary action-remove-email icon trash"></a> -->
      {{# } }}
    </div>

    <div class="field-group task">
      <legend>Phone</legend>
      <h3>
        <span class="phone-data">{{{ user.phone_pretty || '(Not Set)' }}}</span>
        
        {{# if (phone_verified) { }}
        <span class="status status-success">verified</span>
        {{# } else if (phone) { }}
        <span class="status status-none phone">not verified</span>
        {{# } }}
      </h3>

      {{# if (!phone_verified && phone) { }}<a href="#" class="btn btn-secondary action-verify-phone">Verify</a>{{# } }}
      <a href="#" class="btn action-change-phone">{{{ phone_btn }}}</a>
      {{# if (phone) { }}
      <!-- <a href="#" class="btn btn-secondary action-remove-phone icon trash"></a> -->
      {{# } }}
    </div>
  </div>
</form>