<div class="form-model dashboard">
  <h1 style="text-transform: capitalize">{{{ account.role }}} Dashboard</h1>

  {{#
  // check to see if user has onboarding tasks completed

  var check_account = _.some([account.status.email, account.status.phone], function(method) {
    return method === false;
  });
  
  console.log(account);

  var dwolla_account = !(['manager', 'tenant'].contains(account.role) && !account.status.dwolla);
  var funding_source = !(['manager', 'tenant'].contains(account.role) && (!account.dwolla || !account.dwolla.funding_source));
  
  console.log(dwolla_account)
  console.log(funding_source)

  var check_collection = _.some([dwolla_account, funding_source], function(method) {
    return method === false;
  });

  var check_all = _.some([account.status.email, account.status.phone, dwolla_account, funding_source], function(method) {
    return method === false;
  });
  

  if (check_all) { }}

  <div class="field-group tasks">
    <div class="task">
      <p>Hi, {{{ account.first_name }}}! To take full advantage of the rent collection features of the app, please take a moment to complete the following tasks.</p>
    </div>
  </div>

  {{# } }}
  {{# if (check_account) { }}

  <div class="field-group tasks">
    <legend>Account</legend>
    {{# if (!account.status.email) { }}
    <div class="task">
      <h4>Please <a href="/account/contact">verify your email address!</a></h4>
      <p class="left">{{{ tasks.email }}}</p>
      <p class="right"><a href="/account/contact" class="btn btn-secondary">SET UP</a></p>
      <div class="clear"></div>
    </div>
    {{# } }}

    {{# if (!account.status.phone) { }}
    <div class="task">
      <h4>Please <a href="/account/contact">verify your phone!</a></h4>
      <p class="left">{{{ tasks.phone }}}</p>
      <p class="right"><a href="/account/contact" class="btn btn-secondary">SET UP</a></p>
      <div class="clear"></div>
    </div>
    {{# } }}
  {{# } }}

  {{#
  if (check_collection) { }}

    <legend>Rent Collection</legend>
    {{# if (!dwolla_account) { }}
    <div class="task">
      <h4>Please <a href="/account/payment">link your Dwolla account!</a></h4>
      <p class="left">{{{ tasks.dwolla[account.role] }}}</p>
      <p class="right"><a href="/account/payment" class="btn btn-secondary">SET UP</a></p>
      <div class="clear"></div>
    </div>
    {{# } }}

    {{# if (!funding_source) { }}
      <div class="task">
        <h4>Please <a href="/account/payment">add a primary bank account!</a></h4>
        <p class="left">{{{ tasks.dwolla[account.role] }}}</p>
        <p class="right"><a href="/account/payment" class="btn btn-secondary">SET UP</a></p>
        <div class="clear"></div>
      </div>
    {{# } }}

  </div>
  {{# } }}

  {{# if (account.role === 'tenant') { }}
  <legend>Property Manager</legend>
  <div class="field-group">
    <a href="tel:{{{ account.company.owner.phone }}}">{{{ account.company.owner.phone }}}</a>
    <a href="mailto:{{{ account.company.owner.email }}}">{{{ account.company.owner.email }}}</a>
  </div>
  {{# } }}

</div>