<div class="cell col-left">
	{{{ company.name }}}
  <!-- <input name="name" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell"> 
	{{{ company.owner_id }}}
  <!-- <input name="owner_id" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell hide-1">
	{{{ company.active }}}
  <!-- <input name="active" class="medium" type="text" value="" disabled="disabled"/> -->
</div>

<div class="cell hide-1">—</div>
<div class="cell"><a href="#" class="btn btn-circle minus action-remove"></a></div>