<div class="cell col-left">
	{{{ property.address }}}
  <!-- <input name="address" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell"> 
	{{{ property.name }}}
  <!-- <input name="name" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell">
  <span>{{{ property.number_of_units }}}</span>
</div>
<div class="cell hide-1">
  <span>{{{ property.monthly_income }}}</span>
</div>
<div class="cell hide-1">
  <span>{{{ property.yearly_income }}}</span>
</div>
<div class="cell">
  <span>{{{ property.vacancies.vacant_units }}}</span>
</div>
<div class="cell"><!-- <a href="#" class="btn btn-circle minus action-remove"></a> --></div>