<div class="table fixed webhooks-events-table">
  <div class="thead">
    <div class="row">
      <div class="cell col-left">
        <a href="#" class="action-sort" data-field="webhook.data.created">Date/Time</a>
      </div>
      <div class="cell">
        <a href="#" class="action-sort" data-field="webhook.customer_label">Customer</a>
      </div>
      <div class="cell">
        <a href="#" class="action-sort" data-field="webhook.data.topic">Topic</a>
      </div>
      <!-- <div class="cell col-right"><a href="#" class="action-show-tips">?</a></div> -->
    </div>
  </div>
  
  <div class="tbody selectable"></div>
</div>