<div class="cell col-left">
	{{{ typeof totals !== 'undefined' ? totals : rent_roll.full_address }}}
</div>
<div class="cell"> 
	{{{ rent_roll.beds }}}
</div>
<div class="cell hide-2">
	{{{ rent_roll.baths }}}
</div>
<div class="cell hide-1">
	{{{ rent_roll.sq_ft }}}
</div>
<div class="cell hide-2 status-list">
	<span class="status {{{ rent_roll.occupied }}}">{{{ rent_roll.occupied }}}</span>
</div>
<div class="cell text-right">
	{{{ rent_roll.income_pretty }}}
</div>
<div class="cell"><a href="#" class="btn btn-circle minus action-remove"></a></div>