<div class="cell col-left">
	{{{ user.full_name }}}
  <!-- <input name="full_name" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell"> 	
	{{{ user.email }}}
  <!-- <input name="email" class="full" type="text" value="" disabled="disabled"/> -->
</div>
<div class="cell hide-1">
	{{{ user.phone_pretty }}}
  <!-- <input name="phone" class="medium" type="text" value="" disabled="disabled"/> -->
</div>

{{# if (role === 'admin') { }}
<div class="cell">
  {{{ user.company && user.company.name }}}
</div>
{{# } }}

<div class="cell status-list">
 	<span class="{{{ user.status.active }}}">{{{ user.status.active ? 'active' : 'inactive'}}}</span>
</div>

<!-- <div class="cell hide-1">—</div> -->
<div class="cell"><!-- <a href="#" class="btn btn-circle minus action-remove"></a> --></div>