
{{#
console.log(transfer)
}}
<div class="cell col-left">
  {{{ typeof totals !== 'undefined' ? totals : moment(transfer.created).format('MM/DD/YYYY h:mm:ssa') }}}
</div>
<div class="cell"> 
  {{{ transfer.source_name }}}
</div>
<div class="cell hide-1">
  {{{ transfer.address }}}
</div>
<div class="cell status-list">
	<span class="status {{{ transfer.status.state }}}">{{{ transfer.status.state }}}</span>
</div>
<div class="cell text-right">
	{{{ transfer.amount_pretty }}}
</div>
<div class="cell"><a href="#" class="btn btn-circle minus action-remove"></a></div>