<div class="header fixed">
  <div class="sub-header-main">
    <div class="history left">
       <a class="action-back" href="#"><svg viewBox="-140 146 30 40"><style type="text/css">.st0{fill:none;stroke:#111111;stroke-miterlimit:10;}</style><polyline class="st0" points="-116.6,185.6 -136.2,166 -116.6,146.4 "/></svg></a>
    </div>
    <div class="meta left"></div>

    <div class="actions right">
      <div class="actions-default">
        <a href="#" class="btn btn-secondary action-add">Add +</a>
        <a href="#" class="btn action-edit">Edit</a>
        <a href="#" class="btn btn-primary action-delete">Delete</a>
      </div>
      <div class="actions-editing">
        <!-- <a href="#" class="btn action-edit-property">Details</a> -->
        <a href="#" class="btn btn-secondary action-save">Save</a>
        <a href="#" class="btn action-cancel">Cancel</a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
  <div class="sub-header-target"></div>
  
  <div class="sub-header"><!-- cloned table goes here --></div>
</div>
<div class="table-container scroll-y"></div>
<div class="shadow"></div>