<div class="table fixed users-table">
  <div class="thead">
    <div class="row">
      <div class="cell col-left">
        <a href="#" class="action-sort" data-field="full_name">Name</a>
      </div>
      <div class="cell">
        <a href="#" class="action-sort" data-field="email">Email</a>
      </div>
      <div class="cell hide-1">
        <a href="#" class="action-sort" data-field="phone_pretty">Phone</a>
      </div>
      {{# if (role === 'admin') { }}
      <div class="cell">
        <a href="#" class="action-sort" data-field="company.name">Company</a>
      </div>
      {{# } }}
      <div class="cell">
        <a href="#" class="action-sort" data-field="status.active">Status</a>
      </div>
      <!-- <div class="cell hide-1" style="width: 10px;">
        Balance
      </div> -->
      <div class="cell col-right"><a href="#" class="action-show-tips">?</a></div>
    </div>
  </div>

  <div class="tbody selectable"></div>
</div>