<div class="cell col-left">
  <input name="full_name" class="full" type="text" value="{{{ user.full_name }}}" disabled="disabled"/>
</div>
<div class="cell"> 
  <input name="email" class="full" type="text" value="{{{ user.email }}}" disabled="disabled"/>
</div>
<div class="cell hide-1">
  <input name="phone" class="medium" type="text" value="{{{ user.phone_pretty }}}" disabled="disabled"/>
</div>

{{# if (role === 'admin') { }}
<div class="cell">
  {{{ user.company && user.company.name }}}
</div>
{{# } }}

<div class="cell status-list">
 	<span class="{{{ user.status.active }}}">{{{ user.status.active ? 'active' : 'inactive'}}}</span>
</div>

<!-- <div class="cell hide-1">—</div> -->
<div class="cell"><a href="#" class="btn btn-circle minus action-remove"></a></div>