<li class="auth-event">
  <a href="#" class="expand">{{{ moment(model.created).format('MM/DD/YYYY h:mm:ssa') }}} - {{{ model.type }}}</a>
  <div class="collapsed">
    <div class="pills">

      <div class="pill">
        <div class="pill-left">IP:</div>
        <div class="pill-right">{{{ model.ip_address }}}</div>
      </div>

      <div class="pill">
        <div class="pill-left">User-agent:</div>
        <div class="pill-right">{{{ model.user_agent }}}</div>
      </div>


    </div>
  </div>
</li>