@import '../../../scss/modules/colors';

.autocomplete {
	display: none;
	
	&.visible {
		display: block;
	}
 
	&.fixed {
		position: fixed;
		z-index: 99999999999;
	}

	.choices {
		li {
			a {
				&:hover {
					background: #d5d8de;
				}

				&.active {
					&:hover {
						background: $color-highlight;
					}
				}
			}
		}
	}
}