// @import '../../../scss/modules/colors';

.input-calendar-container {
  display: none;
  background: #f2f2f2;
  box-shadow: 1px 2px 4px rgba(0,0,0, 0.3);
  
  &.visible {
    display: block;
  } 
 
  &.fixed {
    position: fixed;
    z-index: 99999999999;
  }

 
  .kalendae {
    margin-top: 0;
   /*
    .k-calendar {
      width: 370px;
    }

    .k-days, .k-header, .k-title {
      width: 390px;
      display: block;
      overflow: hidden;
    }

    .k-days span {
      height: 48px;
      width: 50px;
      line-height: 2em;
    }

    .k-header span {
      width: 50px;
    }
    */
  }
} 