<form class="form-model">

  <div class="field-group">
    <legend>Number</legend>
    <input name="number" class="medium" type="text" value="{{{ unit.number }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Beds</legend>
    <input name="beds" class="medium" type="text" value="{{{ unit.beds }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Baths</legend>
    <input name="baths" class="medium" type="text" value="{{{ unit.baths }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Rent</legend>
    <input name="rent" class="medium" type="text" value="{{{ unit.rent }}}" disabled />
    <span class="help-text"></span>
  </div>

  <div class="field-group">
    <legend>Sq Ft</legend>
    <input name="sq_ft" class="medium" type="text" value="{{{ unit.sq_ft }}}" disabled />
    <span class="help-text"></span>
  </div>

  <legend>Leases</legend>
  <div class="grid leases"></div>

  <a href="#" class="btn action-add-lease">Add Lease</a>
  
</form>