<div class="field-group">

  <div class="tab-content tab-address">
    <div class="property-units"></div>

    <span class="help-text"></span>

    <input class="lease" type="hidden" name="lease">
  </div>

  <div class="tab-content tab-tenant hidden">
    <legend>Search Tenants</legend>

    <div class="field-group">
      <input type="text" class="tenant-search">
      <span class="help-text"></span>
    </div>

    <div class="field-group">
      <div class="leases"></div>
    </div>

    <div class="field-group">
      <div class="tenants-select"></div>
    </div>

    <input class="lease" type="hidden" name="lease" disabled>
  </div>
    
</div>

<div class="field-group">
  <legend>Due Date</legend>
  <input type="hidden" name="due_date" class="date-input">
  <div id="due_date"></div>
  <span class="help-text"></span>
</div>

<div class="field-group">
  <h3>Charges</h3>
  <ul class="charges"></ul>
  <a href="#" class="btn btn-primary action-add-charge">Add Charge</a>
</div>