<div class="field-group">
  <legend>Amount</legend>
  <span class="money">
    <input name="amount" type="text" placeholder="0.00" class="medium amount mobile-number" autocomplete="off" value="{{{ amount }}}">
  </span>
  <span class="help-text"></span>
</div>

<div class="date-picker"></div>

{{# if (type === 'offline') { }}

<div class="field-group">
  <legend>Source</legend>
  <div class="dropdown">
    <select name="source">
    {{# _.each(sources, function(tenant) { }}
      <option value="{{{ tenant._id }}}">{{{ tenant.first_name + ' ' + tenant.last_name }}}</option>
    {{# }) }}
    </select>
  </div>
  <span class="help-text"></span>
</div>

{{# } }}

{{# if (primary_fs && type !== 'offline') { }}

  <span class="status pending">
  Funds will be transferred from: <br>
  "{{{ primary_fs.name }}}" to {{{ company.name }}}</span>
  
{{# } }}