
<div class="field-group">
  <legend>First Name</legend>
  <input name="first_name" type="text" autocomplete="off" class="focus" required />
  <span class="help-text"></span>
</div>

<div class="field-group">
  <legend>Last Name</legend>
  <input name="last_name" type="text" autocomplete="off" required />
  <span class="help-text"></span>
</div>

<div class="field-group">
  <legend>Email</legend>
  <input name="email" type="text" autocomplete="off" required />
  <span class="help-text"></span>
</div>

<div class="field-group">
  <legend>Phone</legend>
  <input name="phone" type="text" class="phone" autocomplete="off" required />
  <span class="help-text"></span>
</div>

{{# if (companies) { }}
<div class="field-group">
  <legend>Company</legend>
  <div class="dropdown">
    <select name="company">
    {{# _.each(companies, function(company) { }}
      <option value="{{{ company._id }}}">{{{ company.name }}}</option>
    {{# }) }}
    </select>
  </div>
</div>
{{# } }}