@import 'colors';

// Statuses

span.status {
  display: inline-block;
  padding: 4px 7px;
  margin-right: 15px;
  border-radius: 4px;
  font-size: 0.9em;
  line-height: 1.4em;
}

.status {
  &.status-none {
    color: $color-text-light;
    background-color: $color-grey-20;
  }
  
  &.status-neutral, &.status-unverified, &.status-due, &.status-created,
  &.submitted, &.pending, {
    color: $color-text-light;
    background-color: $color-status-neutral;
  }
  
  &.status-success, &.status-verified, &.status-paid,
  &.true, &.processed, &.success {
    color: $color-text-light;
    background-color: $color-status-success;
  }
  
  &.status-warning,
  &.warning {
    color: $color-text-dark;
    background-color: $color-status-warning;
  }
  
  &.status-error, &.status-overdue,
  &.false, &.failed, &.error {
    color: $color-text-light;
    background-color: $color-status-error;
  }

  &.cancelled {
    color: $color-text-light;
    background-color: #b7b7b7;
  }
}

.color {
  &.status-neutral, &.status-unverified, &.status-due, &.status-created,
  &.submitted, &.pending {
    color: $color-status-neutral;
  }
  
  &.status-success, &.status-verified, &.status-paid,
  &.true, &.processed, &.success {
    color: $color-status-success;
  }
  
  &.status-warning,
  &.warning {
    color: $color-status-warning;
  }
  
  &.status-error, &.status-overdue,
  &.false, &.failed, &.error {
    color: $color-status-error;
  }

  &.cancelled {
    color: #b7b7b7;
  }
}

// User Status List

.status-list {
  max-width: 400px;
  
  span {
    padding: 3px 4px;
    border-radius: 3px;
  }
}