{{# 

console.log(webhook)
var paused = webhook.paused ? true : false;
}}
<card>
	
	<div class="status-list">
    <table>
      <tbody>
        <tr>
          <td>URL</td>
          <td class="strong">{{{ webhook.url }}}</td>
        </tr>
        <tr>
          <td>ID</td>
          <td>{{{ webhook.id }}}</td>
        </tr>
        <tr>
          <td>Created</td>
          <td>{{{ moment.utc(webhook.created).format('MM/DD/YYYY, h:mma') }}}</td>
        </tr>
        <tr>
          <td>Status</td>
          <td><span class="{{{ paused ? 'warning' : 'true' }}}">{{{ paused ? 'paused' : 'active' }}}</span></td>
        </tr>
      </tbody>
    </table>
  </div>

	{{# if (paused) { }}
	<div>
		<a href="#" class="btn action-unpause">Unpause</a>
	</div>
	{{# } else { }}
	<div>
		<a href="#" class="btn action-pause">Pause</a>
	</div>
	{{# } }}

	<div class="actions right">
		<a href="#" class="btn btn-primary action-delete">Delete</a>
	</div>
</card>