<div class="repeater">
  <form class="form-model">
    <div class="field-group">
      <legend>First Name</legend>
      <input name="first_name" type="text" autocomplete="off" required />
      <span class="help-text"></span>
    </div>

    <div class="field-group">
      <legend>Last Name</legend>
      <input name="last_name" type="text" autocomplete="off" required />
      <span class="help-text"></span>
    </div>

    <div class="field-group">
      <legend>Email</legend>
      <input name="email" type="text" autocomplete="off" required />
      <span class="help-text"></span>
    </div>

    <div class="field-group">
      <legend>Phone</legend>
      <input name="phone" type="text" class="phone" autocomplete="off" required />
      <span class="help-text"></span>
    </div>
  </form>
</div>