<div class="header fixed">
  <div class="sub-header-main">
    <div class="history left">
       <a class="action-back" href="#"><svg viewBox="-140 146 30 40"><style type="text/css">.st0{fill:none;stroke:#111111;stroke-miterlimit:10;}</style><polyline class="st0" points="-116.6,185.6 -136.2,166 -116.6,146.4 "/></svg></a>
    </div>
    <div class="meta left">
      <h2>{{{ header.model }}}</h2>
      <p></p>
    </div>
    
    <a href="#" class="action-close right"><svg viewBox="0 0 18.7 18.7"><polygon points="18.7 2.56 16.14 0 9.35 6.79 2.56 0 0 2.56 6.79 9.35 0 16.14 2.56 18.7 9.35 11.91 16.14 18.7 18.7 16.14 11.91 9.35 18.7 2.56"></polygon></svg></a>
    <div class="actions right">
      <div class="actions-default">
        {{# if (options.edit) { }}
          <a href="#" class="btn btn-secondary action-edit">Edit</a>
        {{# } }}
        {{# if (options.delete) { }}
          <a href="#" class="btn btn-primary action-delete">Delete</a>
        {{# } }}
      </div>
      <div class="actions-editing">
        <a href="#" class="btn action-cancel">Cancel</a>
        <a href="#" class="btn btn-primary action-save">Save</a>
      </div>
    </div>

    <div class="clear"></div>
  </div>
</div>
<div class="table-container scroll-y model"></div>